{% extends "base.html" %}

{% block content %}
<section id="main">
  <div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text">humorbot</h1>
        <div class="row center">
          <h5 class="header col s12 light">Frinkiac and Morbotron apps for Slack.</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <h5>Frinkiac</h5>
            <p class="light"><a href="http://frinkiac.com">Frinkiac</a> is a neat app for generating image memes and animated GIFs from The Simpsons. The Frinkiac Slack app provides a mechanism for querying Frinkiac from within the <a href="https://slack.com">Slack</a> client.</p>
          </div>
          <div class="card-content">
            <img class="responsive-img" src="https://i.imgur.com/bD6Wgpo.png">
          </div>
          <div class="card-action valign-wrapper">
            <a href="https://slack.com/oauth/authorize?scope=commands&client_id={{ frink_client_id }}"><img class="valign" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <h5>Morbotron</h5>
            <p class="light"><a href="http://morbotron.com">Morbotron</a> is like Frinkiac, but for Futurama. The Morbotron Slack app provides a mechanism for querying Morbotron from within the <a href="https://slack.com">Slack</a> client.</p>
          </div>
          <div class="card-content">
            <img class="responsive-img" src="https://i.imgur.com/MRbiPE5.png">
          </div>
          <div class="card-action valign-wrapper">
            <a href="https://slack.com/oauth/authorize?scope=commands&client_id={{ morbo_client_id }}"><img class="valign" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="light"><b>Note:</b> snare did not build <a href="http://morbotron.com">Morbotron</a> or <a href="http://frinkiac.com">Frinkiac</a>, just the Slack apps. Please direct all enquiries about (and internet hugs related to) <a href="http://morbotron.com">Morbotron</a> and <a href="http://frinkiac.com">Frinkiac</a> to their developers - the real heroes of this story. However, if you have feature requests, comments, insults, death threats, etc. for the Slack apps, feel free to open an issue on <a href="https://github.com/snare/humorbot/issues">GitHub</a>. If, for any reason, you're not completely satisfied, I hate you.
    </div>
  </div>
</section>
{% endblock %}