{% extends "base.html" %}

{% block content %}
<section id="usage">
  <div class="container">
    <h3>Usage</h4>
    <p class="light">Humorbot adds the <code>/frink</code> and <code>/morbo</code> commands to your Slack team, depending on which app(s) are installed. These are used to search Frinkiac and Morbotron respectively.</p>
    <p class="light">Frinkiac and Morbotron take your search query and match it against the show's subtitles. This is unlike other image plugins for Slack which generally use tags or titles (along with some weighting for the most relevant result). So, searching Morbotron for "Bender" may not actually get a pic of Bender as the first result, it may be a frame in which Bender's name is spoken by another character.</p>
    <p class="light">Humorbot provides a few different ways to generate both still images and animated GIFs:</p>
    <ol>
      <li>"I'm feeling lucky" mode</li>
      <li><code>random</code> mode</li>
      <li><code>images</code> mode</li>
      <li><code>gif</code> mode</li>
    </ol>
    <p class="light">The <code>/morbo help</code> and <code>/frink help</code> commands will display usage information.</p>

    <h5>"I'm feeling lucky" mode</h5>
    <p class="light">Executed with just a search string, the <code>/frink</code> and <code>/morbo</code> commands will return the first result for the search string, with that search string used as the text overlay on a still image. For example:</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/4GvUEwm.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/frink grease me up, woman</code></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/vQPF6Kq.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/morbo sexlexia</code></p>
          </div>
        </div>
      </div>
    </div>
    <p class="light">Sometimes this is exactly what you want, and can yield some pretty hilarious results when it's not.</p>

    <p class="light">If you want to provide different a different text overlay and search string, separate them with <code>--</code>. For example:</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/vSPFpnU.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/frink grease me up, woman -- glayvin!</code></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/8eY6f6u.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/morbo do the hustle -- do the bartman</code></p>
          </div>
        </div>
      </div>
    </div>

    <p class="light">This applies to all the other command types as well. Anywhere there's a search string, you can provide a search string and text overlay separated by <code>--</code>.</p>

    <h5><code>random</code> mode</h5>
    <p class="light">If <code>random</code> is provided as the first argument in the query, a random frame from the search results will be chosen, and immediately sent to the channel. For example:</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/hVhk2ZH.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/frink random bart!</code></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/53n4F5N.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light"><code>/morbo random good news, everyone</code></p>
          </div>
        </div>
      </div>
    </div>

    <h5><code>images</code> mode</h5>
    <p class="light">If <code>images</code> is provided as the first argument in the query, you will be presented with a selection of matching frames in what Slack calls an "ephemeral" message (which is displayed only to you, and not sent to the channel). Each frame has a <code>Send</code> button which, when pressed, will dismiss the ephemeral message and send the selected frame to channel. At the bottom there is a <code>Cancel</code> button which will dismiss the ephemeral message, and nothing will be sent to channel. For example, executing <code>/morbo images seymour</code>:</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/YcBB2g8.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The ephemeral message presented on initially executing <code>/morbo images seymour</code></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/NrIhy7n.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The message sent to channel when an image is chosen and the <code>Send</code> button pressed.</p>
          </div>
        </div>
      </div>
    </div>

    <h5><code>gif</code> mode</h5>
    <p class="light">If <code>gif</code> is provided as the first argument in the query, the first search result will be selected (the same as "I'm feeling lucky" mode) and then a set of context frames (4 seconds either side) will be retrieved. An animated GIF will be built from these frames, and presented in an ephemeral message with <code>Send</code>, <code>Edit</code> and <code>Cancel</code> buttons. For example:</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/a1u330a.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The ephemeral message presented on initially executing <code>/morbo gif do the hustle</code></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/WlQ5DGj.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The message sent to channel upon pressing <code>Send</code></p>
          </div>
        </div>
      </div>
    </div>

    <p><code>Send</code> will dismiss the ephemeral message and send the GIF to channel as is, <code>Cancel</code> will just dismiss the ephemeral message, sending nothing to channel, and <code>Edit</code> will present a new ephemeral message containing an interface with which the user can edit the GIF parameters. This interface looks like this:

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/N6fSONL.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The editing interface presented upon pressing the <code>Edit</code> button.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://i.imgur.com/8SafIV4.png">
          </div>
          <div class="card-action valign-wrapper">
            <p class="light">The editing interface after selecting a different start frame.</p>
          </div>
        </div>
      </div>
    </div>

    <p>The <code>Start frame</code> and <code>End frame</code> buttons on each frame allow you to designate the frames at which to start and end the animated GIF. The currently selected frame range will be highlighted with a green stripe down the left hand side of the frame rows in the editing interface. At the bottom, the <code>Send</code> button will dismiss the editing interface and send the edited GIF to channel, the <code>Cancel</code> button will dismiss the editing interface, sending nothing to channel, and the <code>Hide text</code> button will hide the text overlay in the GIF.</p>

    <h5>Support</h5>
    <p>If you have feature requests or issues, please open a ticket on <a href="https://github.com/snare/humorbot/issues">GitHub</a>, get at snare on <a href="https://twitter.com/snare">twitter</a> or send an <a href="mailto:humorbot@ho.ax">email</a>.</p>
  </div>
</section>
{% endblock %}