
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Morboslack</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">Morboslack</h1>
      <div class="row center">
        <h5 class="header col s12 light">A Morbotron app for Slack.</h5>
      </div>
      <div class="row center">
        <a href="https://slack.com/oauth/authorize?scope=commands&client_id={{ client_id }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
            <h5 class="center">Morbotron</h5>
            <p class="light"><a href="http://morbotron.com">Morbotron</a> is a neat app for generating image memes and animated GIFs of Futurama.</p>
            <img class="responsive-img" src="http://i.imgur.com/ChhRiAS.png">
        </div>
        <div class="col s12 m6">
            <h5 class="center">Morboslack</h5>
            <p class="light">Morboslack is an app for <a href="http://slack.com">Slack</a> for querying Morbotron and building memes and GIFs from within the Slack client.</p>
            <img class="responsive-img" src="http://i.imgur.com/MRUnrlU.png">
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
    (function($){
        $(function(){
            $('.button-collapse').sideNav();
            $('.parallax').parallax();
            {% if installed %}
              Materialize.toast('Installed Morboslack!', 4000)
            {% endif %}
        });
    })(jQuery);
</script>

  </body>
</html>

